{% extends "funkycore/base.html" %}
{% block content %}

{% if user.is_authenticated %}
{% include "funkycore/header.html" %}

{% if items|length > 0 %}
<h5>
    <b style="color: #e11">Warning:</b>
    your order won't be delivered,
    unless you're in game!
</h5>

{% for item in items %}
{% if item.in_stock %}
{% if not user.userprofile.hide_sold or not item.left == 0 %}
<div>
    <form method="post" action="/buy/?item={{ item.id }}" style="margin: 0">
        {% csrf_token %}
        <div class="inner inner-item-name">
            {{ item.text }}
            {% if item.left >= 0 %}
            <x style="font-size: 9pt{% if item.left == 0 %}; color: #f11{% endif %}">({{ item.left }})</x>
            {% endif %}
            &ndash;
            <b>
                {% if item.price == 0 %}
                Free
                {% else %}
                {{ item.price }}f
                {% endif %}
            </b>
        </div>
        <div class="inner inner-inputs">
            {{ buy_form.amount }}
            <input type="submit" value="Buy"/>
        </div>
    </form>
</div>
{% endif %}
{% endif %}
{% endfor %}

{% else %}
<h4>No items added yet.</h4>
{% endif %}

{% else %}
<i>Welcome, Stranger!</i><br>
<form action="/login/" method="post">
    {% csrf_token %}
    <table>
        {% for e in login_form %}
        <tr>
            <td>
                {{ e.errors }}
                {{ e.label_tag }}
            </td>
            <td>
                {{ e }}
            </td>
        </tr>
        {% endfor %}
    </table>
    <input type="submit" value="Sign in"/>
</form>

{% endif %}
{% endblock %}
